@using casa_relato.Models
@model List<RelatosModel>
<link rel="stylesheet" type="text/css" href="../css/relatos.css">

<body style="background-color: white; margin-top: 8em;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <i class="fa-regular fa-comments"></i> <h2>Relatos que perduran </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="height: 22%">
                <img src="../images/portada-relatos.jpeg" class="imagen-portada"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p style="margin-top: 2em;">
                    Nuestra comunidad se une para compartir las historias que han sido transmitidas de generación en generación,
                    y también damos la bienvenida a colaboradores apasionados que desean añadir sus propios capítulos a esta crónica
                    en constante crecimiento. Juntos, construimos un archivo digital que rinde homenaje a los momentos,
                    las personas y las experiencias que han dado forma a nuestro querido municipio.
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                @foreach (var relatos in Model)
                {
                    <div class="col-4">
                        <div class="caja-relato-1 shadow" onclick="expandir(1)">
                            <p class="titulo-relato">@relatos.Titulo</p>
                            <span class="autor">@relatos.Autor</span>
                            <p class="cuerpo-relato-1">@relatos.Contenido</p>
                            <div class="row">
                                <div class="col-1"><i class="fa-solid fa-eye"></i></div>
                                <div class="col-1">@relatos.Vistas</div>
                                <div class="col-1"><a href="#"><i class="fa-solid fa-heart" style="color:#F77F00"></i></a></div> <!-- Conteo para los likes-->
                                <div class="col-1">@relatos.Megusta</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        function expandir(num) {
            document.querySelector('.caja-relato-'+num).classList.toggle('caja-expand');
            document.querySelector('.cuerpo-relato-'+num).classList.toggle('cuerpo-expand');
        }
            
    </script>
</body>