@using casa_relato.Models
@model List<BibliotecaViewModel>
<body style="background-color: white; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <br>
    <br>
    <br>
    <br>
    <br>


    <div>

        <table style="border-collapse: separate; width: 75%; margin: 0 auto;border-spacing: 0 8px;">
            <tr style="border: 1px solid #000000; text-align: left; padding: 8px;background-color: #adadad;text-align: center;">
                <!-- Encabezados de la tabla -->
                <th>Año</th>
                <th>Lugar</th>
                <th>Editorial</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Tipo de publicación</th>
                <th>Páginas</th>
            </tr>

            @foreach (var biblioteca in Model)
            {
                <tr style="background-color: #8a8888; text-align: center;">
                    <td style="padding: 5px;">@biblioteca.Año</td>
                    <td style="padding: 5px;">@biblioteca.Lugar</td>
                    <td style="padding: 5px;">@biblioteca.Editorial</td>
                    <td style="padding: 5px;">@biblioteca.Titulo</td>
                    <td style="padding: 5px;">@biblioteca.Autor</td>
                    <td style="padding: 5px;">@biblioteca.Categoria</td>
                    <td style="padding: 5px;">@biblioteca.TipoDePublicacion</td>
                    <td style="padding: 5px;">@biblioteca.Paginas</td>
                </tr>
            }
        </table>


    </div>

    <br>
    <br>
    <br>


    <div class="row">
        @foreach (var biblioteca in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../images/libro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@biblioteca.Titulo</h5>
                        <p class="card-text">
                            Un libro del año @biblioteca.Año de la ciudad de @biblioteca.Lugar
                            publicado por la editorial @biblioteca.Editorial
                            y su autor es @biblioteca.Autor.
                            Se categoriza como @biblioteca.Categoria
                            y su tipo de publicación es @biblioteca.TipoDePublicacion
                            con @biblioteca.Paginas páginas.
                        </p>
                        <button class="btn btn-primary" onclick="mostrarDetalles(@biblioteca.ID)">Separar</button>
                    </div>
                </div>
            </div>
        }
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // Obtén el botón y el modal por su ID
        var abrirModalBtn = document.getElementById('abrirModalBtn');

        abrirModalBtn.addEventListener('click', function () {
            $('#miModal').modal('show');
        });
    </script>
</body>
