@using casa_relato.Models
@model List<BibliotecaViewModel>
<body style="background-color: white; background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="row justify-content-center">
        <div class="col-md-4">
            <input type="text" class="form-control" id="filtroInput" placeholder="Filtrar por Cualquiera de los Campos">
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary btn-block" onclick="filtrarTabla()">Filtrar</button>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-secondary btn-block" onclick="limpiarFiltro()">Limpiar</button>
        </div>
    </div>



    <div>

        <table class="table table-striped" style="border-collapse: separate; width: 75%; margin: 0 auto;border-spacing: 0 8px;">
            <tr style="border: 1px solid #000000; text-align: left; padding: 8px;background-color: #adadad;text-align: center;">
                <th>Año</th>
                <th>Lugar</th>
                <th>Editorial</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Tipo de publicación</th>
                <th>Páginas</th>
            </tr>

            @foreach (var biblioteca in Model)
            {
                <tr style="background-color: #8a8888; text-align: center;">
                    <td style="padding: 5px;">@biblioteca.Año</td>
                    <td style="padding: 5px;">@biblioteca.Lugar</td>
                    <td style="padding: 5px;">@biblioteca.Editorial</td>
                    <td style="padding: 5px;">@biblioteca.Titulo</td>
                    <td style="padding: 5px;">@biblioteca.Autor</td>
                    <td style="padding: 5px;">@biblioteca.Categoria</td>
                    <td style="padding: 5px;">@biblioteca.TipoDePublicacion</td>
                    <td style="padding: 5px;">@biblioteca.Paginas</td>
                </tr>
            }
        </table>




    </div>

    <br>
    <br>
    <br>


    <div class="row">
        @foreach (var biblioteca in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="../images/libro.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@biblioteca.Titulo</h5>
                        <p class="card-text">
                            Un libro del año @biblioteca.Año de la ciudad de @biblioteca.Lugar
                            publicado por la editorial @biblioteca.Editorial
                            y su autor es @biblioteca.Autor.
                            Se categoriza como @biblioteca.Categoria
                            y su tipo de publicación es @biblioteca.TipoDePublicacion
                            con @biblioteca.Paginas páginas.
                        </p>
                        <button class="btn btn-primary" onclick="mostrarDetalles(@biblioteca.ID)">Separar</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        var abrirModalBtn = document.getElementById('abrirModalBtn');

        abrirModalBtn.addEventListener('click', function () {
            $('#miModal').modal('show');
        });
    </script>

    <script>
        function filtrarTabla() {
            var input, filtro, tabla, filas, celdas, texto;
            input = document.getElementById("filtroInput");
            filtro = input.value.toUpperCase();
            tabla = document.querySelector("table");
            filas = tabla.getElementsByTagName("tr");

            for (var i = 1; i < filas.length; i++) { // Comienza en 1 para omitir la fila de encabezado
                celdas = filas[i].getElementsByTagName("td");
                var cumpleFiltro = false;

                for (var j = 0; j < celdas.length; j++) {
                    texto = celdas[j].textContent || celdas[j].innerText;

                    if (texto.toUpperCase().indexOf(filtro) > -1) {
                        cumpleFiltro = true;
                        break; // Si una celda cumple con el filtro, no es necesario verificar las demás
                    }
                }

                if (cumpleFiltro) {
                    filas[i].style.display = "";
                } else {
                    filas[i].style.display = "none";
                }
            }
        }
    </script>

    <script>
        function limpiarFiltro() {
            var tabla = document.querySelector("table");
            var filas = tabla.getElementsByTagName("tr");

            for (var i = 1; i < filas.length; i++) { // Comienza en 1 para omitir la fila de encabezado
                filas[i].style.display = ""; // Mostrar todas las filas
            }

            document.getElementById("filtroInput").value = ""; // Limpiar el campo de filtro
        }
    </script>
</body>
